
@{
    ViewBag.Title = "Index";
}
<style>
    #report-date {
        min-width: 90%;
    }

    #find-pdf {
        display: inline-flex;
        margin-left: 10%;
    }
    .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
      padding: 0 16px !important;
    }
</style>
<div id="wrapper">
    <form class="col s12">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

        <div id="radio-buttons-wrapper" class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="delivery">
                    <input type="radio" id="delivery" class="mdl-radio__button" name="report" value="true" checked>
                    <span class="mdl-radio__label">Delivery</span>
                </label>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="report">
                    <input type="radio" id="report" class="mdl-radio__button" name="report" value="true">
                    <span class="mdl-radio__label">Report</span>
                </label>

            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="invoice">
                    <input type="radio" id="invoice" class="mdl-radio__button" name="report" value="true">
                    <span class="mdl-radio__label">Invoice</span>
                </label>

            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <input id="report-date-from" type="date" class="datepicker" placeholder="Pick a date" required>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <input id="report-date-end" type="date" class="datepicker" placeholder="Pick a date" required="" aria-required="true">
            </div>
            <div class="mdl-cell mdl-cell--1-col">
                <button id="find-pdf" class="btn waves-effect waves-light" type="button" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <iframe id="pdf-iframe" style="border:1px solid #666CCC" title="PDF in an i-Frame" src="@Url.Content("~/RESOURCES/lala.pdf")" frameborder="1" scrolling="auto" height="1100" width="850"></iframe>
    @*<iframe id="pdf-iframe" style="border:1px solid #666CCC" title="PDF in an i-Frame" src="@Url.Action("Invoice","Reports")" frameborder="1" scrolling="auto" height="1100" width="850"></iframe>*@
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });
</script>
<script>
    $("#find-pdf").click(function () {
        var delivery = $('#delivery').is(':checked');
        var report = $('#report').is(':checked');
        var invoice = $('#invoice').is(':checked');
        if (reportFrom.value !== "" && reportEnd.value !== "") {
            var dateFrom = reportFrom.value.split(" ");
            var startDay = dateFrom[0];
            var startMonth = monthToNumber(dateFrom[1].substring(0, dateFrom[1].length - 1));
            var startYear = dateFrom[2];

            var dateEnd = reportEnd.value.split(" ");
            var endDay = dateEnd[0];
            var endMonth = monthToNumber(dateEnd[1].substring(0, dateEnd[1].length - 1));
            var endYear = dateEnd[2];

            var url = '@Url.Action("Invoice","Reports")' +
                '?startDay=' + startDay +
                '&startMonth=' + startMonth +
                '&startYear=' + startYear +
                '&endDay=' + endDay +
                '&endMonth=' + endMonth +
                '&endYear=' + endYear;
            $("#pdf-iframe").src =url;

        } else {
            alert("potrebno je uneti sve vrednosti");
        }
    });

    var monthToNumber = function (month) {
        if (month === "January") return 1;
        if (month === "February") return 2;
        if (month === "March") return 3;
        if (month === "April") return 4;
        if (month === "May") return 5;
        if (month === "June") return 6;
        if (month === "July") return 7;
        if (month === "August") return 8;
        if (month === "September") return 9;
        if (month === "October") return 10;
        if (month === "November") return 11;
        if (month === "December") return 12;
    }
    /////////////////
    var frame = document.getElementById("pdf-iframe");
    var wrapper = document.getElementById("wrapper");
    var reportFrom = document.getElementById("report-date-from");
    var reportEnd = document.getElementById("report-date-end");

    var handleClickEvent = function () {
        if (reportFrom.value !== "" && reportEnd.value !== "") {
            alert(reportFrom.value + reportEnd.value);
        }
    }
</script>




